:root {
    --font-color-light: #fff;
    --background-clr-light: rgb(204, 222, 243);
    --container-head-clr-light: rgb(132, 139, 225);
    --container-body-clr: #fff;
    --delete-btn-clr-light: #f24f4f;
    --edit-btn-clr-light: #7256e6;
    --done-btn-clr-light: rgb(46, 166, 9);
    --fill-clr-light: #fff;
}

* {
    padding: none;
    margin: none;
    box-sizing: border-box;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

body {
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-clr-light);
    overflow: hidden;
}

.container {
    width: clamp(300px, 70vw, 600px);
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container-head {
    height: 50px;
    width: 100%;
    background-color: var(--container-head-clr-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-body {
    width: 100%;
    background-color: var(--container-body-clr);
    height: 300px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containers {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    align-self: stretch;
}

::-webkit-scrollbar {
    display: none;
}

.tab-btn {
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 8px 12px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: var(--container-head-clr-light);
    color: white;
    font-weight: bold;
}

.completed-tasks-btn {
    left: -20px; 
}

.pending-tasks-btn {
    right: -20px;
}

.containers {
    height: 100%;
    position: relative;
}

.container-body .list-container {
    position: relative;
}

.list-container .list-items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-items .list-item .task-body {
    list-style-type: none;
    display: flex;
    border: 2px solid #d6d;
    background: #f2f7fc;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.task-name, .task-date {
    margin: 0;
}

.task-name {
    font-size: 1.3rem;
    font-weight: 500;
}

.task-date {
    font-size: 0.8rem;
}

.btn-container {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn-container button {
    border-radius: 50px;
    cursor: pointer;
    margin: 3px;
    outline: none;
    background-color: #fff;
}

.btn-container button svg {
    width: 16px;
    height: auto;
    stroke-width: 4px;
}

.delete-btn {
    border: 2px solid var(--delete-btn-clr-light);
}

.delete-btn svg {
    fill: var(--delete-btn-clr-light);
    stroke: var(--delete-btn-clr-light);
}

.edit-btn {
    border: 2px solid var(--edit-btn-clr-light);
}

.edit-btn svg {
    fill: var(--edit-btn-clr-light);
    stroke: var(--edit-btn-clr-light);
}

.done-btn {
    border: 2px solid var(--done-btn-clr-light);
}

.done-btn svg {
    fill: var(--done-btn-clr-light);
    stroke: var(--done-btn-clr-light);
}

.hidden {
    display: none;
}

.add-new-task {
    position: absolute;
    bottom: -9%;
    width: clamp(80px, 150px, 250px);
    height: clamp(50px, 35px, 30px);
    border-radius: 50px;
    z-index: 10;
    background: var(--container-head-clr-light);
    cursor: pointer;
    border: none;
}

.expand-in {
    width: 100% !important;
    opacity: 1 !important;
}

.completed-tasks-container {
    width: 0%;
    height: 100%;
    background-color: #6bcb77;
    position: absolute;
    top: 0%;
    left: 0%;
    transition: width 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    padding: 20px;
}

.completed-tasks {
    border: 2px solid blue;
    height: 100%;
    display: grid;
    place-items: center;
}
